extends layout

block content
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title= title
				h2.subtitle Welcome to #{title}
				a.button(href="/addfeed") Add Feed
				button.button(onclick="$.ajax({url: '/refresh', method: 'POST', data: {}}).then(() => window.location.reload())") Refresh
	each val,ind in docs
		.box
			.container
				h1.title= val.doc.title
				- var pubdate = dates[ind]
				h2.subtitle= 'From ' + val.doc.meta.title + ' (' + pubdate + ')'
				if val.doc.origlink
					a(href=val.doc.origlink target="_blank") View Story
				else
					a(href=val.doc.link target="_blank") View Story
				input.is-primary.is-bold.button.spoilerbutton(type='button', value='Show Summary', onclick="this.value=this.value=='Show Summary'?'Hide Summary':'Show Summary';")
				.spoiler
					div= val.doc.description.replace(/<[^>]+>/g, '')
		hr
	.scroll-to-top
		a.button.is-primary(onclick="window.scrollTo(0, 0)")
			i.fa.fa-arrow-circle-up(aria-hidden="true")
